!DOCTYPE html
html
    head
        title Welcome
        meta name="viewport"
        script(src="/socket.io/socket.io.js")
        script(type='text/javascript')
            var conn = io.connect('http://localhost:3000');
            function message(obj){
                console.log(obj);
                var el = document.createElement('p');
                el.innerHTML = '<em>' + JSON.parse(obj) + '</em>';
                document.getElementById('chat').appendChild(el);
                document.getElementById('chat').scrollTop = 1000000;
            };
            function create(){
                conn.emit('create', function(data) {
                    var el = document.createElement('p');
                        el.innerHTML = '<em>' + 'created : ' + data.roomNo + '</em>';
                        document.getElementById('chat').appendChild(el);
                });
            };
            function join(){
                var roomNo = document.getElementById('roomNo').value;
                var msg = {};
                msg = {'roomNo': roomNo};
                conn.roomNo = roomNo;
                conn.emit('join', msg);
            };
            function getTserverByRR(){
                var service = document.getElementById('service').value;
                conn.emit('getTserverByRR', service, function(data){
                    console.log(data);
                    var el = document.createElement('p');
                    el.innerHTML = '<em>' + 'service: ' + data.service + ':' + 'server: ' + data.serverName + ':' + data.port + '</em>';
                    document.getElementById('chat').appendChild(el);
                    document.getElementById('chat').scrollTop = 1000000;
                });
            };
            function getTserverListByRR(){
                conn.emit('getTserverListByRR', function(data){
                    console.log(data);
                    for(var i in data){
                        var el = document.createElement('p');
                        el.innerHTML = '<em>' + 'service: ' + data[i].service + ':' + 'server: ' + data[i].serverName + ':' + data[i].port + '</em>';
                        document.getElementById('list').appendChild(el);
                    }
                    document.getElementById('list').scrollTop = 1000000;
                });
            };
            
            function getServerMap(){
                conn.emit('getServerMap', function(data){
                    console.log(data);
                    for(var key in data){
                        for(var i=0; i < data[key].length; i++){
                            var el = document.createElement('p');
                            el.innerHTML = '<em>' + 'node : ' + key + ':' 
                                            + 'service: ' + data[key][i].service 
                                            + ', thrift:' + data[key][i].serverName + '</em>';
                            document.getElementById('list').appendChild(el);
                        }
                    }
                    document.getElementById('list').scrollTop = 1000000;
                });
            };
            conn.on('announcement', function(obj){
                console.log(obj);
                var el = document.createElement('p');
                el.innerHTML = '<em>' + obj.server + ':' + obj.action + '</em>';
                document.getElementById('chat').appendChild(el);
                document.getElementById('chat').scrollTop = 1000000;
                if(obj.action == 'disconnected'){
                    getTserverListByRR();
                }
            });
    body
        <div id="chat">
        </div>
        <div id="list">
        </div>

        form(onsubmit="create(); return false;")
            <input type="submit" value="create">
        form(onsubmit="join(); return false;")
            label serverName 
                <input id="roomNo" type="text">
            <input type="submit" value="join">
        form(onsubmit="list(); return false;")
            <input type="submit" value="get">