html
    head
        title Insert title here
        script(src="/socket.io/socket.io.js")
        script(type='text/javascript')
            var conn = io.connect('http://localhost:8001');
            function message(obj){
                console.log(obj);
                var el = document.createElement('p');
                el.innerHTML = '<em>' + JSON.parse(obj) + '</em>';
                document.getElementById('chat').appendChild(el);
                document.getElementById('chat').scrollTop = 1000000;
            };
            function tjoin(){
                var serverName = document.getElementById('tserver').value
                    ,serviceName = document.getElementById('tservice').value
                    ,port = document.getElementById('port').value;
                var msg = {};
                msg[serviceName] = {'serverName': serverName, 'port': port };
                conn.tserverName = serverName;
                conn.emit('tjoin', msg);
            };
            function njoin(){
                var serverName = document.getElementById('nserver').value
                    ,serviceName = document.getElementById('nservice').value;
                var msg = {};
                msg[serverName] = {'serviceName': serviceName};
                conn.nserverName = serverName;
                conn.emit('njoin', msg);
            };
            function getTserverByRR(){
                var service = document.getElementById('service').value;
                conn.emit('getTserverByRR', service, function(data){
                    console.log(data);
                    var el = document.createElement('p');
                    el.innerHTML = '<em>' + 'service: ' + data.service + ':' + 'server: ' + data.serverName + ':' + data.port + '</em>';
                    document.getElementById('chat').appendChild(el);
                    document.getElementById('chat').scrollTop = 1000000;
                });
            };
            function getTserverListByRR(){
                conn.emit('getTserverListByRR', function(data){
                    console.log(data);
                    for(var i in data){
                        var el = document.createElement('p');
                        el.innerHTML = '<em>' + 'service: ' + data[i].service + ':' + 'server: ' + data[i].serverName + ':' + data[i].port + '</em>';
                        document.getElementById('list').appendChild(el);
                    }
                    document.getElementById('list').scrollTop = 1000000;
                });
            };
            
            function getServerMap(){
                conn.emit('getServerMap', function(data){
                    console.log(data);
                    for(var key in data){
                        for(var i=0; i < data[key].length; i++){
                            var el = document.createElement('p');
                            el.innerHTML = '<em>' + 'node : ' + key + ':' 
                                            + 'service: ' + data[key][i].service 
                                            + ', thrift:' + data[key][i].serverName + '</em>';
                            document.getElementById('list').appendChild(el);
                        }
                    }
                    document.getElementById('list').scrollTop = 1000000;
                });
            };
            conn.on('announcement', function(obj){
                console.log(obj);
                var el = document.createElement('p');
                el.innerHTML = '<em>' + obj.server + ':' + obj.action + '</em>';
                document.getElementById('chat').appendChild(el);
                document.getElementById('chat').scrollTop = 1000000;
                if(obj.action == 'disconnected'){
                    getTserverListByRR();
                }
            });
    body
        <div id="chat">
        </div>
        <div id="list">
        </div>

        form(onsubmit="tjoin(); return false;")
            label serverName 
                <input id="tserver" type="text">
            label serviceName 
                <input id="tservice" type="text">
            label port 
                <input id="port" type="text">
            <input type="submit" value="tjoin">
        form(onsubmit="njoin(); return false;")
            label serverName 
                <input id="nserver" type="text">
            label serviceName 
                <input id="nservice" type="text">
            <input type="submit" value="njoin">
        form(onsubmit="getTserverByRR(); return false;")
            label serviceName
                <input id="service" type="text">
            <input type="submit" value="get">
        form(onsubmit="getTserverListByRR(); return false;")
            label servers
            <input type="submit" value="get">
        form(onsubmit="getServerMap(); return false;")
            <input type="submit" value="get">